[submodule "references/BootcampScrumTemplate"]
	path = references/BootcampScrumTemplate
	url = https://github.com/YapayZekaveTeknolojiAkademisi/BootcampScrumTemplate.git
[submodule "references/U-21-Cherry-Chasers"]
	path = references/U-21-Cherry-Chasers
	url = https://github.com/kevsoOther/U-21-Cherry-Chasers.git
[submodule "references/planova"]
	path = references/planova
	url = https://github.com/olgnbrn/planova.git
[submodule "references/GhostOfAnnaScrumExample"]
	path = references/GhostOfAnnaScrumExample
	url = https://github.com/IbrmSerhat/GhostOfAnnaScrumExample.git
[submodule "references/OUA-zaten-Bootcamp-2023"]
	path = references/OUA-zaten-Bootcamp-2023
	url = https://github.com/burakcevheroglu/OUA-zaten-Bootcamp-2023.git
